.drinks-menu-wrapper * {
  list-style-type: none;
}

.drinks-menu-wrapper {
  padding: 1.5vw;
}

div.drinks-menu-section.drinks-beers-wines,
div.drinks-menu-section.drinks-liquors,
div.drinks-menu-section.drinks-non-alcoholic {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 1vw;
}

h2.drinks-section-title {
  margin: 3.5vw 0 2vw;
}

ul.drinks-items-list {
  display: flex;
  flex-direction: column;
  gap: 1vw;
}

li.drinks-item {
  display: flex;
  flex-direction: column;
  gap: 0.5vw;
}

h3.drinks-item-name {
  font-size: 2vw;
  padding-left: 1.3vw;
}

p.drinks-item-description {
  border: none;
}

span.drinks-item-price {
  margin: 0 2.5vw 0 auto;
}
